.wraper {
   min-height: 100%;
   
}
.page {
   padding: 90px 0 30px 0;
}
.page__section {
   padding: 30px;
   max-width: 1200px;
   margin: 0 auto;
   color: #fff;
}
.page__section p{

}
.page__section_1 {
   background-color: #d38c21;
}
.page__title {
   font-size: 49px;
   margin: 0 0 20px 0;
}
.page__text{
font-size: 16px;
line-height: 150%;
margin: 0 0 20px 0;
}
.page__section_2 {
   background-color: rgb(163, 73, 248)
}
.page__sub-title {
   font-size: 30px;
   margin: 0 0 20px 0;
}
.page__section_3 {
   background-color: #349234;
}
/*==========================*/
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
   background-color: #ca0303;
}
.header__container {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   padding: 0 30px;
   justify-content: space-between;
   align-items: center;
   min-height: 70px;
}
.header__logo {
   background-color: #fff;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   z-index: 5;

}
.header__menu {
}
.menu {
}
.menu__burger {
   display: none;
}
.menu__body {
}
.menu__list {

}
.menu__list > li {
position: relative;
margin:  0 0 0 20px;
}
.menu__link {
   font-size: 18px;
   color: #fff;
}
.menu__link:hover {
text-decoration: underline;
}
.menu__sub-list {
   position: absolute;
   top: 100%;
   right: 0;
   background-color: black;
   padding: 15px;
   min-width: 200px;

}
.menu__sub-list li {
margin: 0 0 15px 0;
}
.menu__sub-list li:last-child{
margin: 0;
}
.menu__sub-link {
   color: #fff;
}
.menu__sub-link:hover{
text-decoration: underline;
}
.menu__arrow{
display: none;
}
/* ============================== */
body._pc .menu__list > li:hover .menu__sub-list {
opacity: 1;
visibility: visible;
transform: translate(0px, 0px);
pointer-events: all;
}
body._touch .menu__list > li{
display: flex;
align-items: center;
}
body._touch .menu__link{
flex: 1 1 auto;
}
body._touch .menu__arrow{
   display: block;
   width: 0;
   height: 0;
   margin: 0 0 0 5px;
   transition: transform 0.3s ease 0s;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 10px solid #fff;
}
body._touch .menu__list > li._activ .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
   }
   body._touch .menu__list > li._activ .menu__arrow{
   transform: rotate(-180deg);
   }
/* ============================== */
@media (min-width: 767px){
   .menu__list {
      display: flex;
      align-items: center;
   }
   .menu__list > li {
      padding: 10px 0;
   }
   .menu__sub-list{
    
   transform: translate(0px, 10%);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: all 0.3s ease 0s;
   }
}
@media (max-width: 767px) {
   .menu__burger{
   display: block;
   }
}